.dialog-input {
  display: block;
  position: relative;

  label {
    opacity: 0;
    transform: translateY(8px);
    transition: opacity 0.3s $ease-out-expo, transform 0.3s $ease-out-expo;

    &.is-visible {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

.dialog-input__autosuggest {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  padding: 1rem 0;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s $ease-out-expo;
  border-radius: 0.25rem;
  box-shadow: 0 rem(12px) rem(24px) 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  font-size: rem(14px);

  &.is-visible {
    opacity: 1;
    pointer-events: all;
  }

  .theme--light & {
    background-color: $light-primary;
    color: $dark-base;
  }

  .theme--dark & {
    background-color: $dark-base;
    color: $light-base;
  }
}

.dialog-input__autosuggest__item {
  display: block;
  color: inherit;
  text-align: left;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: color 0.3s $ease-out-expo, background-color 0.3s $ease-out-expo;
  cursor: pointer;

  &.is-selected {
    background-color: $red;
    color: $light-base;
  }

  .theme--light &:not(.is-selected):hover {
    background-color: $light-secondary;
  }

  .theme--dark &:not(.is-selected):hover {
    background-color: $dark-primary;
  }
}
