.dialog-input {
  label {
    opacity: 0;
    transform: translateY(8px);
    transition: opacity 0.3s $ease-out-expo, transform 0.3s $ease-out-expo;

    &.is-visible {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
