.button-circular {
  display: block;
  width: rem(48px);
  height: rem(48px);
  border-radius: 50%;
  border: 0;
  padding: 0;
  transition: background-color 0.4s $ease-out-expo;
  cursor: pointer;
  position: relative;
  user-select: none;

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  * {
    pointer-events: none;
  }

  & + & {
    margin-left: rem(4px);
  }

  .theme--light & {
    color: $dark-base;
    background-color: transparent;
  }

  .theme--light &:hover {
    background-color: rgba($dark-base, 0.06);
  }

  .theme--light &--red {
    color: $red;
    background-color: transparent;
  }

  .theme--light &--red:hover {
    color: $light-base;
    background-color: $red;
  }

  .theme--light &--has-background {
    background-color: rgba($dark-base, 0.06);
  }

  .theme--light &--has-background:hover {
    background-color: rgba($dark-base, 0.12);
  }

  .theme--light &--disabled {
    color: rgba($dark-base, 0.4);
  }

  .theme--dark & {
    color: $light-base;
    background-color: transparent;
  }

  .theme--dark &:hover {
    background-color: rgba($light-base, 0.06);
  }

  .header-nav--transparent:not(.has-shadow) &:hover {
    background-color: rgba($dark-base, 0.4);
  }

  .theme--dark &--red {
    color: $red;
    background-color: transparent;
  }

  .theme--dark &--red:hover {
    color: $light-base;
    background-color: $red;
  }

  .theme--dark &--has-background {
    background-color: rgba($light-base, 0.06);
  }

  .theme--dark &--has-background:hover {
    background-color: rgba($light-base, 0.12);
  }

  .theme--dark &--disabled {
    color: rgba($light-base, 0.4);
  }
}

.button-circular--separator-before {
  &::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    left: rem(-12px);

    .button-circular + & {
      margin-left: rem(24px);
    }

    .theme--light & {
      background-color: rgba($dark-base, 0.06);
    }

    .theme--dark & {
      background-color: rgba($light-base, 0.06);
    }
  }
}

.button-circular--separator-after {
  &::after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    right: rem(-12px);

    .button-circular + & {
      margin-left: rem(24px);
    }

    .theme--light & {
      background-color: rgba($dark-base, 0.06);
    }

    .theme--dark & {
      background-color: rgba($light-base, 0.06);
    }
  }
}

.button-circular__icon {
  path,
  circle,
  polyline,
  line {
    stroke-width: 2px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      stroke-width: 1.5px;
    }
  }
}

.button-circular__label {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 100%;
  font-size: rem(11px);
  font-weight: 600;
  padding: rem(2px) rem(8px);
  border-radius: rem(2px);
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, rem(4px));
  transition: transform 0.2s $ease-out-expo, opacity 0.2s $ease-out-expo, visibility 0s linear 0.2s;
  white-space: nowrap;
  pointer-events: none;

  &::before {
    content: "";
    position: relative;
    margin: rem(-6px) auto 0 auto;
    display: block;
    width: 0;
    height: 0;
    border-left: rem(8px) solid transparent;
    border-right: rem(8px) solid transparent;
    border-bottom: rem(6px) solid transparent;
    transition: opacity 0.2s $ease-out-expo;
    opacity: 0;
  }

  .theme--light & {
    background-color: $dark-base;
    color: $light-base;

    &::before {
      border-bottom-color: $dark-base;
    }
  }

  .theme--dark & {
    background-color: $light-base;
    color: $dark-base;

    &::before {
      border-bottom-color: $light-base;
    }
  }
}

.button-circular__label {
  .button-circular:hover & {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0px);
    transition: transform 0.4s $ease-out-expo, opacity 0.4s $ease-out-expo, visibility 0s linear 0s;

    &::before {
      transition: opacity 0.4s $ease-out-expo;
      opacity: 1;
    }
  }

  .button-circular--no-label & {
    display: none;
  }
}
