.embed {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  min-width: rem(320px);

  .carousel__photos,
  .carousel-sidebar {
    top: 0;
    bottom: 0;
    height: auto;
  }

  .carousel__photos__actions {
    padding-left: 1rem;
  }

  .embed-logo {
    position: relative;
    height: rem(48px);
    display: flex;
    align-items: center;

    &__link {
      display: block;

      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
      transition: transform 0.6s $ease-out-expo;

      span {
        @include font-heading-bold();
        margin-left: rem(16px);
        font-size: rem(16px);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        overflow: hidden;

        @media screen and (max-width: ($breakpoint-phone-sm - 1px)) {
          display: none;
        }
      }
    }

    &__logo {
      width: rem(48px);
    }
  }
}

.embed-infobar {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 100;

  max-height: 100%;
  overflow-x: hidden;

  border-radius: 0.5rem 0.5rem 0 0;

  .embed:not(.is-empty) & {
    background-color: rgba($dark-primary, 0.9);
    backdrop-filter: blur(20px);
  }

  transform: translateY(100%);
  transition: transform 0.4s $ease-out-expo, opacity 0.4s $ease-out-expo;

  &.is-visible {
    transform: none;
    opacity: 1;
  }

  .embed-logo {
    display: none;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    margin-bottom: 1rem;
  }

  &__close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  .list-info {
    margin: 1rem 4rem 0 1rem;
    box-sizing: border-box;

    &__title,
    &__subtitle,
    &__description {
      margin: 0;
    }

    &__title {
      a {
        color: inherit;
        text-decoration: none;
      }
    }

    &__subtitle {
      font-size: 1rem;
      line-height: 1.4;
      font-weight: 600;
      color: $grey;

      &__count {
        color: $light-base;
      }
    }

    &__description {
      max-width: 35.625rem;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.5;
      margin-top: 0.5rem;

      display: none;

      &.is-visible {
        display: block;
      }
    }

    &__message {
      display: none;
      margin: 2rem auto 0;
      box-sizing: border-box;

      color: $grey;

      &.is-visible {
        display: block;
      }
    }
  }

  .photos__grid {
    max-width: none;
    padding: 0 0.5rem;
    flex-wrap: nowrap;
    overflow: auto;
  }

  .embed.is-empty & {
    height: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
    display: flex;
    align-items: center;

    transform: none;
    opacity: 0;
    transition: opacity 0.4s $ease-out-expo;

    &.is-visible {
      opacity: 1;
    }

    .embed-logo {
      display: block;
    }

    @media screen and (max-height: ($breakpoint-phone-xs - 1px)) {
      display: block;

      .embed-logo {
        position: relative;
        left: auto;
        top: auto;
      }
    }

    .list-info {
      width: 100%;
      max-width: rem(480px);
      margin: 0 auto;
    }

    .thumbnails,
    &__close-button {
      display: none;
    }
  }

  .embed.is-404 & {
    .list-info {
      &__subtitle,
      &__description {
        display: none;
      }

      &__message {
        margin-top: 0.5rem;
      }
    }
  }
}

.is-embed .dialog {
  padding: 1.5rem;

  @media screen and (max-width: ($breakpoint-phone-sm - 1px)), (max-height: ($breakpoint-phone-sm - 1px)) {
    padding: 0;

    .dialog__wrapper {
      width: 100%;
      max-width: none;
      min-height: 100%;
      border-radius: 0;
      box-sizing: border-box;
    }
  }
}
