<div class="photos-timeline" 
  data-controller="photos--timeline" 
  data-photos-target="timeline"
  data-action="timeline:disable@document->photos--timeline#disable
               timeline:reset@document->photos--timeline#resetSlider"
>
    <h3 class="photos-timeline__title" data-photos--timeline-target="title">{{ lang[locale].timeline }}</h3>
    <div class="photos-timeline__range caption" data-photos--timeline-target="range">1900 - 1990</div>
    <div class="photos-timeline__slider__container" data-photos--timeline-target="slider">
        <div class="photos-timeline__slider" 
          data-photos--timeline-target="sliderKnob sliderLeft"
          data-action="touchstart->photos--timeline#sliderStartDrag
                       mousedown->photos--timeline#sliderStartDrag
                       touchmove@document->photos--timeline#sliderLeftMoved
                       mousemove@document->photos--timeline#sliderLeftMoved
                       touchend@document->photos--timeline#sliderStopDrag
                       mouseup@document->photos--timeline#sliderStopDrag"
        >1900</div>
        <div class="photos-timeline__slider-selected-range" data-photos--timeline-target="selectedRange">
        </div>
        <div class="photos-timeline__slider" 
        data-photos--timeline-target="sliderKnob sliderRight"
        data-action="touchstart->photos--timeline#sliderStartDrag
                       mousedown->photos--timeline#sliderStartDrag
                       touchmove@document->photos--timeline#sliderRightMoved
                       mousemove@document->photos--timeline#sliderRightMoved
                       touchend@document->photos--timeline#sliderStopDrag
                       mouseup@document->photos--timeline#sliderStopDrag"
        >1944</div>
    </div>
</div>