<photos-title class="photos-title">
  <h1 class="photos-title__title">{{ title }}</h1>
  <h5 class="photos-title__subtitle">
    <span id="PhotosSearchExpression" class="photos-title__subtitle__expression"></span>
    <span id="PhotosCount" class="photos-title__subtitle__count"></span>
    {{ lang[locale].photo_results }}
  </h5>
</photos-title>