# Dependency directories
node_modules/

# dotenv environment variables file
.env

# eleventy.js build output
_dist
src/data/manifest*
src/static/autocomplete.json

# Local Netlify folder
.netlify

# Code editor related
.nova

# OS related
.DS_Store
