[build]
  command = "npm run build"
  publish = "_dist/"
  functions = "functions/"

[dev]
  framework = "#custom"
  command = "npm run dev"
  targetPort = 8080
  publish = "_dist/"
  autoLaunch = false

## This rule redirects to an external API, signing requests with a secret
[[redirects]]
  from = "/search-api/*"
  to = "http://v39241.php-friends.de:9200/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/auth-api/*"
  to = "https://drupal.admin.fortepan.hu"
  status = 200
  force = true

[[redirects]]
  from = "/photos/*"
  to = "https://fortepan.download/_photo/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/hu/"
  to = "/"
  status = 200
  force = true

[[redirects]]
  from = "/hu/user/*"
  to = "/"
  status = 200
  force = true

[[redirects]]
  from = "/en/user/*"
  to = "/en/"
  status = 200
  force = true

[[redirects]]
  from = "/advanced-search*"
  to = "/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/m/*"
  to = "/.netlify/functions/mobile-proxy/m/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/_photo/display/*"
  to = "https://fortepan.download/_photo/480/fortepan_:splat"
  status = 200
  force = true


[[redirects]]
  from = "/_photo/download/*"
  to = "https://fortepan.download/_photo/download/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/_photo/68x68/*"
  to = "https://fortepan.download/_photo/240/fortepan_:splat"
  status = 200
  force = true
