---
layout: base/base.liquid
---

<section class="photos__thumbnails">
  <h1 class="photos__title">{{ title }}</h1>
  <div class="photos__thumbnails__wrapper">
    <div class="photos__photo">
      <div class="photos__photo__col-left">
        <div class="photos__photo__image-wrapper">
          <div class="photos__photo__image lazyload--background" data-image=""></div>
        </div>
        <div class="photos__photo__meta photos__photo__meta--description">
          Unter den Linden, Omnibusz társaság nyitott városnéző autóbusza a húszas években.
        </div>
        <div class="photos__photo__meta photos__photo__meta--location">Németország, Berlin</div>
      </div>
      <div class="photos__photo__col-right">
        <div class="photos__photo__pager">
          <div class="button__circular"></div>
          <div class="button__circular"></div>
        </div>
      </div>
    </div>
    <div class="photos__thumbnail">
      <div class="photos__thumbnail__wrapper">
        <div class="photos__thumbnail__image-wrapper">
          <div class="photos__thumbnail__image lazyload--background" data-image=""></div>
        </div>
        <div class="photos__thumbnail__meta photos__thumbnail__meta--description">
          Unter den Linden, Omnibusz társaság nyitott városnéző autóbusza a húszas években.
        </div>
        <div class="photos__thumbnail__meta photos__thumbnail__meta--location">Németország, Berlin</div>
      </div>
    </div>

    <div class="photos__thumbnail">
      <div class="photos__thumbnail__wrapper">
        <div class="photos__thumbnail__image-wrapper">
          <div class="photos__thumbnail__image lazyload--background" data-image=""></div>
        </div>
        <div class="photos__thumbnail__meta photos__thumbnail__meta--description">
          Unter den Linden, Omnibusz társaság nyitott városnéző autóbusza a húszas években.
        </div>
        <div class="photos__thumbnail__meta photos__thumbnail__meta--location">Németország, Berlin</div>
      </div>
    </div>

    <div class="photos__thumbnail">
      <div class="photos__thumbnail__wrapper">
        <div class="photos__thumbnail__image-wrapper">
          <div class="photos__thumbnail__image lazyload--background" data-image=""></div>
        </div>
        <div class="photos__thumbnail__meta photos__thumbnail__meta--description">
          Unter den Linden, Omnibusz társaság nyitott városnéző autóbusza a húszas években.
        </div>
        <div class="photos__thumbnail__meta photos__thumbnail__meta--location">Németország, Berlin</div>
      </div>
    </div>
  </div>
</section>