---
layout: base/base.liquid
---

<section class="photos">
  <h1 class="photos__title">{{ title }}</h1>
  <div class="photos__wrapper">
    {% include carousel/carousel.liquid %}
  </div>
</section>

<template id="Thumbnail">
  <div class="photos__thumbnail">
    <div class="photos__thumbnail__wrapper">
      <div class="photos__thumbnail__image-wrapper">
        <div class="photos__thumbnail__image"></div>
      </div>
      <div class="photos__thumbnail__meta photos__thumbnail__meta--description"></div>
      <div class="photos__thumbnail__meta photos__thumbnail__meta--location"></div>
    </div>
  </div>
</template>