button,
.button {
  @include font-heading-demi();
  padding: 1rem;
  line-height: 1rem;
  font-size: rem(18px);
  font-weight: 600;
  white-space: nowrap;
  border: 0;
  border-radius: 0.25rem;
  text-decoration: none;

  transition: background-color 0.4s $ease-out-expo, color 0.4s $ease-out-expo;
}

.button--light-transparent {
  color: $light-base;
  &:hover,
  &:active {
    background-color: rgba($dark-base, 0.4);
  }
}

.button--primary {
  color: $light-base;
  background-color: $red;

  &:hover,
  &:active {
    background-color: darken($red, 5);
  }
}

.button--secondary {
  .theme--light & {
    color: $dark-base;
    background-color: $light-secondary;
  }

  .theme--dark & {
    color: $light-base;
    background-color: $dark-tertiary;
  }

  &:hover,
  &:active {
    .theme--light & {
      background-color: darken($light-secondary, 5);
    }

    .theme--dark & {
      background-color: lighten($dark-tertiary, 5);
    }
  }
}

.button--medium {
  padding: 0.75rem 1rem;
}

.button--small {
  font-size: rem(16px);
  padding: 0.5rem 0.75rem;
}

.button--inline {
  display: inline-block;
}

.button--wide {
  width: 100%;
}
