.dialog-download {
  &__credits {
    display: flex;

    padding: torem(8px) torem(8px) torem(8px) torem(12px);
    gap: torem(12px);
    border-radius: torem(4px);
    margin-top: torem(8px);

    .theme--light & {
      background: $light-primary;
    }

    .theme--dark & {
      background: $dark-secondary;
    }

    &__content {
      width: 99%;
      margin: 0;
      font-weight: 700;
    }

    &__icon {
      margin: torem(-12px);

      svg {
        opacity: 0.4;
      }

      &:hover svg {
        opacity: 1;
      }
    }
  }
}
