.dialog-download {
  &__credits {
    display: flex;

    padding: rem(8px) rem(8px) rem(8px) rem(12px);
    gap: rem(12px);
    border-radius: rem(4px);
    margin-top: rem(8px);

    .theme--light & {
      background: $light-primary;
    }

    .theme--dark & {
      background: $dark-secondary;
    }

    &__content {
      width: 99%;
      margin: 0;
      font-weight: 700;
    }

    &__icon {
      margin: rem(-12px);

      svg {
        opacity: 0.4;
      }

      &:hover svg {
        opacity: 1;
      }
    }
  }
}
