.dialog-embed {
  &__settings {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;

    & > * {
      flex: 1 1 33.3%;
    }
  }

  &__switch-container {
    display: flex;
    gap: 0.75rem;
    vertical-align: middle;
    margin-top: 1rem;
  }

  .dialog-embed__embed-code-header {
    margin: 2rem 0 1rem;
  }

  .dialog-embed__embed-code {
    label {
      display: none;
    }
  }

  .dialog__button {
    margin-top: 1rem;
  }

  &__private {
    display: none;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid;

    .theme--light & {
      border-color: rgba($dark-base, 0.08);
    }

    .theme--dark & {
      border-color: rgba($light-base, 0.08);
    }

    &.is-visible {
      display: block;
    }

    h5 {
      margin: 0;
    }

    .input-wrapper__label {
      margin: rem(4px) 0 0 0;
    }
  }
}
