<template id="lists-item">
  <div class="lists__item" data-lists-target="listItem">
    <div class="lists__item__cover" data-action="click->lists#openList">
      <div class="lists__item__cover-inner">
        <div class="lists__item__photo">
          <span class="lists__item__photo__img"></span>
          <div class="button-circular lists__item__add-icon" data-action="click->lists#jumpToPhotos">
            {% inlineSVG src:"src/static/images/icons/24/icon-add-to-list.svg" class:"button-circular__icon" %}
            <div class="button-circular__label">{{ lang[locale].list_add_photos }}</div>
          </div>
        </div>
        <div class="lists__item__photo"><span class="lists__item__photo__img"></span></div>
        <div class="lists__item__photo"><span class="lists__item__photo__img"></span></div>
        <span class="lists__item__photo-count"><span class="lists__item__counter"></span></span>
      </div>
    </div>
    <div class="lists__item__meta">
      <h5>
        <i class="lists-private-icon" title="{{ lang[locale].list_edit_private }}">
          {% inlineSVG src:"src/static/images/icons/24/icon-lock.svg" %}
        </i>
        <a href="#" class="lists__item__title" data-action="click->lists#openList"></a>
      </h5>
      {% include ./context-menu controller:"lists" %}
      <div class="lists__item__description"></div>
    </div>
  </div>
</template>