<template id="age-restriction-template">
  <div class="age-restriction">
    <span class="age-restriction__icon">18</span>
    <span class="age-restriction__title">{{ lang[locale].age_restriction.title }}</span>
    <span class="age-restriction__content">{{ lang[locale].age_restriction.content }}</span>
    <a href="#" class="age-restriction__link">{{ lang[locale].age_restriction.remove_action_label }}</a>
  </div>
</template>