body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: color 0.2s $ease-out-expo, background-color 0.2s $ease-out-expo;

  &.theme--light {
    color: $dark-base;
    background-color: $light-base;
  }

  &.theme--dark {
    color: $light-base;
    background-color: $dark-primary;
  }

  &.disable--selection {
    user-select: none;
  }
}

.base {
  &__main {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    transition: transform 0.4s $ease-out-expo;
    transform: translateX(0);
  }

  &__sidebar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: rem(280px);
    overflow: hidden;
    transition: transform 0.4s $ease-out-expo;

    @media screen and (max-width: ($breakpoint-desktop - 1px)) {
      right: rem(-280px);

      .sidebar--show & {
        transform: translateX(-280px);
      }
    }

    .theme--light & {
      background-color: $light-primary;
    }

    .theme--dark & {
      background-color: $dark-secondary;
    }
  }
}

.background {
  position: absolute;
  left: rem(-280px);
  bottom: rem(64px);
  perspective: 800;

  svg {
    transform-origin: 33% center;
    transition: transform 0.1s $ease-out-expo;
  }
}

.scrollview {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
