.photos-title {
  display: block;
  max-width: rem(1080px);
  margin: 0 auto rem(32px);
  padding: 0 rem(8px);
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.4s ease-out;

  > * {
    margin: 0;
  }

  &.is-visible {
    opacity: 1;
  }
}

.photos-title__title-link {
  display: none;

  @include font-heading-demi();
  font-size: rem(18px);
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: color 0.2s $ease-out-expo, border-color 0.2s $ease-out-expo, opacity 0.2s $ease-out-expo;

  opacity: 0.3;

  &:hover {
    color: $red;
    border-color: $red;
    opacity: 1;
  }

  &.is-visible {
    display: inline;
  }
}

.photos-title__subtitle {
  .theme--light & {
    color: $grey;
  }

  .theme--dark & {
    color: $grey;
  }

  em {
    font-style: normal;

    .theme--light & {
      color: $dark-base;
    }

    .theme--dark & {
      color: $light-base;
    }
  }
}

.photos-title__subtitle__count {
  .theme--light & {
    color: $dark-base;
  }

  .theme--dark & {
    color: $light-base;
  }
}

.photos-title__subtitle__expression {
  display: none;

  &.is-visible {
    display: inline;
  }

  &::after {
    content: "·";
    padding: 0 0.5rem;
  }
}
