<div class="photos-title" 
  data-controller="photos--title" 
  data-action="photosTitle:setTitle@document->photos--title#setTitle"
>
  <h1 class="photos-title__title" data-photos--title-target="title">{{ title }}</h1>
  <h5 class="photos-title__subtitle" data-photos--title-target="subtitle">
    <span data-photos--title-target="searchExpression" class="photos-title__subtitle__expression" ></span>
    <span data-photos--title-target="count" class="photos-title__subtitle__count"></span>
    {{ lang[locale].photo_results }}
  </h5>
</div>