<photos-timeline class="photos-timeline">
    <h3 class="photos-timeline__title">{{ lang[locale].timeline }}</h3>
    <div class="photos-timeline__range caption" id="TimelineRange">1900 - 1990</div>
    <div class="photos-timeline__slider__container" id="TimelineSlider">
        <div class="photos-timeline__slider" id="TimelineSliderLeft">1900</div>
        <div class="photos-timeline__slider-selected-range" id="TimelineSliderSelectedRange">
        </div>
        <div class="photos-timeline__slider" id="TimelineSliderRight">1944</div>
    </div>
</photos-timeline>