.input-search {
  display: block;
  position: relative;
  box-sizing: border-box;
  transition: transform 0.6s $ease-out-expo, opacity 0.3s $ease-out-expo;
}

.input-search--large {
  height: 4rem;
  padding: 1rem 1rem 1rem 2.75rem;
  border-radius: 0.5rem;
  max-width: 40rem;

  .theme--light & {
    background-color: $light-base;
    color: $dark-base;
  }

  .theme--dark & {
    background-color: $dark-base;
    color: $light-base;
  }
}

.input-search--header {
  height: 3rem;
  padding: 0.5rem 1rem 0.5rem 2.75rem;
  border-radius: 0.25rem;
  width: 400px;
  margin-right: 1rem;

  @media screen and (max-width: ($breakpoint-desktop - 1px)) {
    display: none;
  }

  .theme--light & {
    background-color: $light-primary;
    color: $dark-base;
    box-shadow: 0px 0px 0px 1px rgba($dark-base, 0.08) inset;
  }

  .theme--dark & {
    background-color: $dark-base;
    color: $light-base;
  }
}

.input-search__icon {
  position: absolute;
  left: rem(12px);
  top: 50%;
  transform: translateY(-50%);
}

.input-search__settings {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.input-search__input {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;

  &::placeholder {
    line-height: inherit;
    color: $grey;
    text-indent: 0;
  }

  &::-webkit-search-decoration {
    display: none;
  }

  .input-search--header & {
    font-size: 1rem;
    line-height: 2rem;
  }

  .input-search--large & {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

.input-search__autosuggest {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  padding: 1rem 0;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s $ease-out-expo;
  border-radius: 0.25rem;
  box-shadow: 0 rem(12px) rem(24px) 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  font-size: rem(14px);

  &.is-visible {
    opacity: 1;
    pointer-events: all;
  }

  .input-search--large & {
    border-radius: 0.5rem;
  }

  .theme--light & {
    background-color: $light-primary;
    color: $dark-base;
  }

  .theme--light .search--large & {
    background-color: $light-base;
    color: $dark-base;
  }

  .theme--dark & {
    background-color: $dark-base;
    color: $light-base;
  }
}

.input-search__autosuggest__item {
  display: block;
  color: inherit;
  text-align: left;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: color 0.3s $ease-out-expo, background-color 0.3s $ease-out-expo;
  cursor: pointer;

  &.is-selected {
    background-color: $red;
    color: $light-base;
  }

  .theme--light &:not(.is-selected):hover {
    background-color: $light-secondary;
  }

  .theme--dark &:not(.is-selected):hover {
    background-color: $dark-primary;
  }
}
