<input-search class="input-search {{ class }}">
    {% inlineSVG src:"src/static/images/icons/24/icon-search.svg" class:"input-search__icon" %}
    <input type="search" name="search" class="input-search__input" placeholder="{{ lang[locale].search }}" autocomplete="off">
    <div class="input-search__autosuggest"></div>
    {% comment %}
    {% inlineSVG src:"src/static/images/icons/24/icon-settings.svg" class:"search__settings" %}
    {% endcomment %}
</input-search>
