---
layout: layout-base/layout-base.liquid
---

<div class="layout-article scrollview js-header-watchscroll">
  <section class="layout-article__content">
  <h1>{{ title }}</h1>
  {{ content }}
  </section>
  {% include footer/footer.liquid %}
</div>

{% include header-nav/header-nav.liquid %}
{% include background-icon/background-icon.liquid %}
{% include dialog-simple-search/dialog-simple-search.liquid class:"search--floating" %}
