<nav class="navigation navigation--show scrollview">
  <div class="navigation__links navigation__links--top">
    <a class="navigation__link navigation__link--top navigation__link--separator-after" href="#"
      >{{ lang[locale].login }}</a
    >
    <a class="navigation__link navigation__link--top navigation__link--selected" href="/{{ locale }}/photos/">Fotók</a>
    <a class="navigation__link navigation__link--top" href="/{{ locale }}/about-us/">Rólunk</a>
    <a class="navigation__link navigation__link--top" href="/{{ locale }}/donors/">Adományozók</a>
    <a class="navigation__link navigation__link--top" href="/{{ locale }}/donations/">Támogatás</a>
    <a class="navigation__link navigation__link--top" href="/{{ locale }}/apps/">Alkalmazások</a>
    <a class="navigation__link navigation__link--top navigation__link--separator-after" href="/forum/">Fórum</a>
    {% if locale == "hu" %}
    <a class="navigation__link navigation__link--top" href="/en/photos/">English</a>
    {% else %}
    <a class="navigation__link navigation__link--top" href="/">Magyar</a>
    {% endif %}
  </div>
  <div class="navigation__links navigation__links--bottom">
    <a class="navigation__link navigation__link--bottom" href="/{{ locale }}/contact/">Kapcsolat</a>
    <a class="navigation__link navigation__link--bottom" href="/{{ locale }}/privacy">Adatvédelmi tájékoztató</a>
    <a class="navigation__link navigation__link--bottom" href="/{{ locale }}/cookies/">Süti beállítások</a>
  </div>
</nav>
