.navigation {
  position: absolute;
  width: rem(240px);
  z-index: 1000;
  right: 0;
  top: 0;
  bottom: 0;
  padding: rem(32px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  user-select: none;

  @media screen and (max-width: ($breakpoint-desktop - 1px)) {
    right: rem(-240px);
  }

  .theme--light & {
    background-color: $light-primary;
  }

  .theme--dark & {
    background-color: $dark-secondary;
  }

  &__links--bottom {
    margin-top: rem(32px);
  }

  &__link {
    display: block;
    line-height: rem(20px);
    text-decoration: none;
    transition: color 0.3s $ease-out-expo;

    &--separator-after:after {
      content: "";
      display: block;
      height: 1px;
      margin: rem(16px) 0;

      .theme--light & {
        background-color: $light-secondary;
      }

      .theme--dark & {
        background-color: $dark-tertiary;
      }
    }

    &--top {
      font-family: $font-heading;
      font-weight: 600;
      text-transform: uppercase;
      margin: rem(8px) 0;
      letter-spacing: 1px;
    }

    &--bottom {
      font-weight: 600;
      font-size: rem(12px);
      line-height: rem(16px);
      margin: rem(8px) 0;
      letter-spacing: 0;
    }

    .theme--light & {
      color: $grey;
    }

    .theme--dark & {
      color: $grey;
    }

    .theme--light &--selected {
      color: $dark-base;
    }

    .theme--dark &--selected {
      color: $light-base;
    }

    .theme--light &:hover {
      color: $dark-base;
    }

    .theme--dark &:hover {
      color: $light-base;
    }
  }
}
