.carousel-sidebar {
  position: absolute;
  padding: rem(104px) rem(24px) rem(24px);
  top: 0;
  right: 0;
  width: rem(280px);
  height: 100%;
  box-sizing: border-box;
  transition: transform 0.4s $ease-out-expo, opacity 0.2s ease-out;

  @media screen and (max-width: ($breakpoint-desktop - 1px)) {
    padding-top: rem(88px);
  }

  .hide-carousel-sidebar & {
    pointer-events: none;
    transform: translateX(100%);
    opacity: 0;
  }

  .theme--light & {
    background-color: $light-primary;
  }

  .theme--dark & {
    background-color: $dark-secondary;
  }

  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  b {
    display: block;
  }

  a:not(.button-circular) {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid transparent;
    transition: color 0.2s $ease-out-expo, border-color 0.2s $ease-out-expo;

    &:hover {
      color: $red;
      border-bottom-color: $red;
    }
  }
}

.carousel-sidebar__content {
  display: flex;
  flex-wrap: wrap;
}

.carousel-sidebar__id,
.carousel-sidebar__year {
  width: 50%;
  margin-top: rem(24px);
}

.carousel-sidebar__donor,
.carousel-sidebar__tags,
.carousel-sidebar__location,
.carousel-sidebar__photographer {
  width: 100%;
  margin-top: rem(24px);
}

.carousel-sidebar__description {
  margin-top: rem(4px);
  width: 100%;
  font-size: rem(14px);
  line-height: rem(20px);
}

.carousel-sidebar__tags {
  font-size: rem(12px);
  line-height: rem(20px);

  > p {
    margin: 0;
    font-size: rem(12px);
    font-weight: normal;
    line-height: rem(20px);

    a {
      font-weight: normal;
    }
  }
}

.carousel-sidebar a.carousel-sidebar__add-tag {
  display: block;
  font-weight: bold;
  color: $red;
  cursor: pointer;
  line-height: 1rem;
  border-bottom: none;
  margin-top: 0.5rem;

  &::before {
    content: "";
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: 0.25rem;
    background: svg-load("static/images/icons/16/icon-add.svg");
    vertical-align: text-bottom;
  }

  &.hide {
    display: none;
  }
}
