.dialog-lists {
  h6 {
    margin: 1.5rem 0;
  }

  section {
    display: none;

    &.is-visible {
      display: block;
    }
  }
}

.dialog-lists__input {
  &.is-hidden {
    display: none;
  }
}

.dialog-lists__added-to {
  display: none;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid;

  &.is-visible {
    display: block;
  }

  .theme--light & {
    border-bottom-color: $light-secondary;
  }

  .theme--dark & {
    border-bottom-color: $dark-tertiary;
  }

  h6 {
    margin-bottom: 0.5rem;
  }
}

.dialog-lists__added-to-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dialog-lists__list-tag {
  display: none;
  position: relative;
  font-size: rem(13px);
  line-height: 1rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: rem(2px);
  margin: 0 0.25rem 0.25rem 0;
  user-select: none;

  &.is-visible {
    display: inline-block;
  }

  .theme--light & {
    background-color: $light-base;
    color: $dark-base;
    box-shadow: 0 1px 3px 0 rgba($dark-base, 0.1), 0 0 0 1px rgba($dark-base, 0.05);
  }

  .theme--dark & {
    background-color: $dark-tertiary;
    color: $light-base;
    box-shadow: 0 1px 3px 0 rgba($dark-base, 0.1), 0 0 0 1px rgba($dark-base, 0.05);
  }

  &--large {
    font-size: rem(16px);
    line-height: 1.25rem;
    font-weight: 400;
  }

  & .header-nav__popup {
    top: calc(1.5rem + 1px);
    right: 0;
    transform: translate(0, 8px);

    &.is-visible {
      transform: translate(0, 0);

      &:before {
        // pseudo element for closing the in the hit area between the list-tag and the popup
        content: "";
        display: block;
        position: absolute;

        top: rem(-4px);
        height: rem(4px);
        right: 0;
        left: 0;
      }
    }
  }
}

.dialog-lists__list-tag__label {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s $ease-out-expo;

  &:hover {
    color: $red;
  }
}

.dialog-lists__list-tag__icon {
  border: none !important;
  outline: none;

  &:after {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: -0.25rem;
    vertical-align: text-bottom;
    opacity: 0.5;
    transition: opacity 0.2s $ease-out-expo, background-color 0.2s $ease-out-expo;
  }

  .theme--light &:after {
    background-image: svg-load("static/images/icons/16/icon-arrow-down.svg", fill=none, stroke=$dark-base);
  }

  .theme--dark &:after {
    background-image: svg-load("static/images/icons/16/icon-arrow-down.svg", fill=none, stroke=$light-base);
  }

  &:hover:after {
    opacity: 1;
  }

  .theme--light &:hover:after {
    background-color: rgba($dark-base, 0.06);
  }

  .theme--dark &:hover:after {
    background-color: rgba($light-base, 0.06);
  }
}

.dialog-lists__list-tag__drowpdown {
  display: none;
  display: block;
  position: absolute;
}

.dialog-lists__delete-title {
  color: $red;
}

.dialog-lists__privacy-switch {
  margin-top: 2rem;

  .dialog-lists__switch-container {
    display: flex;
    align-items: center;

    h5 {
      margin: 0;
      flex-basis: 90%;
    }
  }

  .input-wrapper__label {
    margin: rem(4px) 0 0 0;
  }
}
