$light-base: #ffffff;
$light-primary: #f5f6f7;
$light-secondary: #e7e8e9;

$dark-base: #000000;
$dark-primary: #202020;
$dark-secondary: #303030;
$dark-tertiary: #404040;

$grey: #8c8c8c;
$red: #f73f13;
$green: #1abc58;
