/* --- Font Families --- */
@mixin font-body() {
  font: 400 16px/1.5 system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin font-heading-bold() {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
}

@mixin font-heading-demi() {
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
}

/* --- Font Smoothing --- */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include font-body();
  text-rendering: optimizeLegibility;
  text-size-adjust:100%;
}

h1 {
  font-size: rem(56px);
  text-transform: uppercase;
  @include font-heading-bold();
}

h5 {
  font-size: rem(18px);
  line-height: rem(24px);
  @include font-heading-bold();
}

h6,
.caption {
  font-size: rem(12px);
  text-transform: uppercase;
  @include font-heading-demi();
  letter-spacing: 1.5px;
  line-height: rem(20px);
}
