<dialog-reset-password class="dialog dialog-reset-password">
  {% include button-circular/button-circular.liquid icon:"close" trigger:"dialogResetPassword:hide" label:lang[locale].close class:"dialog__close" %}

  <div class="dialog__wrapper">
      <h3 class="dialog__title">{{ lang[locale].password_forgot }}</h3>
      <p>{{ lang[locale].forgot_password_blurb }}</p>
      <div class="dialog__form">
        {% include dialog-input/dialog-input.liquid type:"email" name:"email" label:lang[locale].email %}
        <button class="button dialog__button">{{ lang[locale].reset_password }}</button>
      </div>
  </div>
</dialog-reset-password>
