<dialog-reset-password class="dialog dialog-reset-password">
  <div class="dialog__wrapper">
      {% include button-circular/button-circular.liquid icon:"close" trigger:"dialogResetPassword:hide" label:lang[locale].close class:"dialog__close" %}
      <h3 class="dialog__title">{{ lang[locale].password_reset }}</h3>
      <div class="dialog__form">
        {% include input/input.liquid type:"password" name:"password" label:lang[locale].password_new %}
        <button class="button button--primary dialog__button">{{ lang[locale].password_save }}</button>
      </div>
  </div>
</dialog-reset-password>
