<div class="thumbnailsbar scrollview" data-controller="thumbnailsbar"
  data-action="scroll->thumbnailsbar#onScroll
               thumbnail:loaded@document->thumbnailsbar#loadThumbnails
               thumbnailsbar:show@document->thumbnailsbar#show
               thumbnailsbar:hide@document->thumbnailsbar#hide
               keyup@window->thumbnailsbar#keyup"
>

  <div class="button-circular thumbnailsbar__close-button" data-action="click->thumbnailsbar#hide">
      {% inlineSVG src:"src/static/images/icons/24/icon-close.svg" class:"button-circular__icon" %}
      <div class="button-circular__label">{{ lang[locale].close }}</div>
  </div>

  <h5 class="thumbnailsbar__title" data-thumbnailsbar-target="title">
    <span data-thumbnailsbar-target="count" class="thumbnailsbar__title__count"></span>
    {{ lang[locale].photo_results }}
  </h5>

  <div class="thumbnailsbar__grid" data-thumbnailsbar-target="grid"></div>

</div>