.carousel-add-tags {
  width: 100%;
}

.carousel-add-tags__add {
  display: inline-block;
  font-weight: bold;
  font-size: rem(12px);
  text-decoration: none;
  color: $red;
  cursor: pointer;
  line-height: 1rem;
  border-bottom: none;
  margin-top: 0.5rem;

  &::before {
    content: "";
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: 0.25rem;
    background: svg-load("static/images/icons/16/icon-add.svg");
    vertical-align: text-bottom;
  }

  &.is-hidden {
    display: none;
  }
}

.carousel-add-tags__form {
  display: block;
  margin-top: 0.5rem;

  &.is-hidden {
    display: none;
  }
}

body:not(.auth-signed-in) .add-tags__form {
  display: none;
}

.carousel-add-tags__save {
  margin-top: 0.5rem;
  cursor: pointer;
}
