<template id="mapmarker-template">
  <div class="mapmarker" data-controller="mapmarker" data-mapview-target="marker" data-action="">
    <div class="mapmarker__thumbnails">
      <div class="mapmarker__thumbnail-wrapper"></div>
    </div>
    <div class="map-cluster-marker" data-mapmarker-target="counter"></div>
  </div>
</template>