<div class="dialog dialog-reset-password" 
     data-controller="dialog--reset-password"
     data-action="dialogs:hide@document->dialog--reset-password#hide
                   dialogResetPassword:show@document->dialog--reset-password#show
                   dialogResetPassword:hide@document->dialog--reset-password#hide"
>
  <div class="dialog__wrapper">
      <div class="button-circular dialog__close"
           data-action="click->dialog--reset-password#hide"
      >
        {% inlineSVG src:"src/static/images/icons/24/icon-close.svg" class:"button-circular__icon" %}
        <div class="button-circular__label">{{ lang[locale].close }}</div>
      </div>

      <h3 class="dialog__title">{{ lang[locale].password_reset }}</h3>
      
      <form class="dialog__form" data-dialog--reset-password-target="form">
        {% include input/input.liquid 
                   type:'password'
                   name:'password'
                   label:lang[locale].password_new
                   stimulus_target:'data-dialog--reset-password-target="password"'
        %}
        <button class="button button--primary dialog__button" 
                data-dialog--reset-password-target="submitButton"
                data-action="click->dialog--reset-password#submit"
        >{{ lang[locale].password_save }}</button>
      </form>
  </div>
</div>
