.dialog-advanced-search .dialog__wrapper {
  max-width: rem(640px);
}

.dialog-advanced-search__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dialog-advanced-search__keyword {
  width: 100%;
}

.dialog-advanced-search__country {
  width: calc(50% - 0.5rem);
}

.dialog-advanced-search__city {
  width: calc(50% - 0.5rem);
}

.dialog-advanced-search__year {
  width: calc(30% - 0.5rem);
}

.dialog-advanced-search__donor {
  width: calc(70% - 0.5rem);
}

.dialog-advanced-search__actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.dialog-advanced-search__button {
  width: auto;
  cursor: pointer;
  min-width: 25%;
}
