<dialog-advanced-search class="dialog dialog-advanced-search">
  <div class="dialog__wrapper">
      {% include button-circular/button-circular.liquid icon:"close" trigger:"dialogAdvancedSearch:hide" label:lang[locale].close class:"dialog__close button-circular--transparent" %}
      <h3 class="dialog__title">{{ lang[locale].advanced_search }}</h3>
      <form class="dialog__form dialog-advanced-search__form">
        {% include selectize-control/selectize-control.liquid class:"selectize-control--wide dialog-advanced-search__selectize" %}
        <div class="dialog-advanced-search__actions">
          <button class="button dialog__button dialog-advanced-search__button">{{ lang[locale].search }}</button>
        </div>
      </form>
  </div>
</dialog-advanced-search>
