<div class="dialog dialog-reset-password-request" 
     data-controller="dialog--reset-password-request"
     data-action="dialogs:hide@document->dialog--reset-password-request#hide
                   dialogResetPasswordRequest:show@document->dialog--reset-password-request#show
                   dialogResetPasswordRequest:hide@document->dialog--reset-password-request#hide"
>
  <div class="dialog__wrapper">
      <div class="button-circular dialog__close"
           data-action="click->dialog--reset-password-request#hide"
      >
        {% inlineSVG src:"src/static/images/icons/24/icon-close.svg" class:"button-circular__icon" %}
        <div class="button-circular__label">{{ lang[locale].close }}</div>
      </div>

      <h3 class="dialog__title">{{ lang[locale].password_forgot }}</h3>
      <p class="dialog__content">{{ lang[locale].password_forgot_details }}</p>
      
      <form class="dialog__form" data-dialog--reset-password-request-target="form">
        {% include input/input.liquid 
                   type:"text" 
                   name:"email"
                   label:lang[locale].username_or_email
                   stimulus_target:'data-dialog--reset-password-request-target="email"' 
        %}
        <button class="button button--primary dialog__button" 
                data-dialog--reset-password-request-target="submitButton"
                data-action="click->dialog--reset-password-request#submit"
        >{{ lang[locale].reset_password }}</button>
      </form>
  </div>
</div>
