<header class="header">
  <div class="header__logo">
    {% include buttons/circular.liquid icon:"back" id:"CarouselClose" href:"#" label:lang[locale].back class:"header__close button__circular--separator-after" %}
    {% inlineSVG src:"src/static/images/header-logo.svg" class:"header__logo" %}
    <span>Fortepan</span>
  </div>
  <div class="header__actions">
    <div class="header__actions__group header__actions__group--photos header__actions__group--active">
      {% include buttons/circular.liquid icon:"search" class:"button__circular--red" id:"HeaderSearch" href:"#" label: lang[locale].search %}
      {% include buttons/circular.liquid icon:"darkmode" id:"DarkThemeSwitcher" href:"#" label: lang[locale].darkmode %}
      {% include buttons/circular.liquid icon:"lightmode" id:"LightThemeSwitcher" href:"#" label: lang[locale].lightmode %}
      {% include buttons/circular.liquid icon:"menu" class:"button__circular--separator-before" id:"HeaderNavigationToggle" href:"#" label: lang[locale].menu %}
    </div>
    <div class="header__actions__group header__actions__group--carousel">
        {% include buttons/circular.liquid icon:"bookmark" id:"PhotoBookmark" href:"#" label: lang[locale].bookmark %}
        {% include buttons/circular.liquid icon:"download" id:"PhotoDownload" href:"#" label: lang[locale].download %}
        {% include buttons/circular.liquid icon:"share" id:"PhotoShare" href:"#" label: lang[locale].share %}
    </div>
  </div>
</header>
