.header {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  padding: rem(16px) rem(8px) rem(16px) rem(32px);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.6s $ease-out-expo;

  &--shadow-bottom {
    box-shadow: 0px 0px 20px rgba($dark-base, 0.16), 0px 0px 1px rgba($dark-base, 0.16);
  }

  @media screen and (max-width: ($breakpoint-desktop - 1px)) {
    padding: rem(8px) rem(8px) rem(8px) rem(16px);
  }

  &__close {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s $ease-out-expo;
    left: rem(8px);

    .header--show-actions-carousel & {
      opacity:1;
      pointer-events: initial;
      transition: opacity .4s $ease-out-expo .2s;
    }

    .header--show-actions-carousel & ~ * {
      transform: translateX(rem(56px));

      @media screen and (max-width: ($breakpoint-desktop - 1px)) {
        transform: translateX(rem(72px));
      }
    }

  }

  &__logo {
    display: flex;
    height: rem(48px);
    align-items: center;

    svg {
      transition: transform .6s $ease-out-expo;
    }

    span {
      @include font-heading-bold();
      margin-left: rem(16px);
      font-size: rem(20px);
      text-transform: uppercase;
      letter-spacing: 2px;

      transition: opacity .4s $ease-out-expo, transform .6s $ease-out-expo;

      @media screen and (max-width: ($breakpoint-phone - 1px)) {
        opacity: 0;
        pointer-events: none;
      }

    }
  }

  &__actions {
    height: rem(48px);
    position: relative;
  }

  &__actions__group {
    position: absolute;
    right: 0;
    display: flex;
    transform: translateX(-40px);
    opacity: 0;
    transition: opacity .2s $ease-out-expo, transform .2s $ease-out-expo;
    pointer-events: none;

    &--active {
      opacity: 1;
      transform: translateX(0);
      transition: opacity .4s $ease-out-expo, transform .4s $ease-out-expo;
      transition-delay: .1s;
      pointer-events: initial;
    }
  }

  .theme--light & {
    background-color: $light-base;
  }

  .theme--light & #LightThemeSwitcher {
    display: none;
  }

  .theme--dark & #DarkThemeSwitcher {
    display: none;
  }

  #HeaderNavigationToggle {
    @media screen and (min-width: $breakpoint-desktop) {
      display: none;
    }
  }
}
