.header {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  padding: rem(16px) rem(8px) rem(16px) rem(32px);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.6s $ease-out-expo, background-color 0.2s $ease-out-expo, color 0.2s $ease-out-expo;

  &--shadow-bottom,
  &--carousel-show {
    box-shadow: 0px 0px 20px rgba($dark-base, 0.16), 0px 0px 1px rgba($dark-base, 0.16);
  }

  @media screen and (max-width: ($breakpoint-desktop - 1px)) {
    padding: rem(8px) rem(8px) rem(8px) rem(16px);
  }

  &__close {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s $ease-out-expo;
    left: rem(8px);

    .header--carousel-show & {
      opacity: 1;
      pointer-events: initial;
      transition: opacity 0.4s $ease-out-expo 0.2s;
    }

    .header--carousel-show & ~ * {
      transform: translateX(rem(56px));

      @media screen and (max-width: ($breakpoint-desktop - 1px)) {
        transform: translateX(rem(72px));
      }
    }
  }

  &__logo {
    display: flex;
    height: rem(48px);
    align-items: center;

    svg {
      transition: transform 0.6s $ease-out-expo;
    }

    span {
      @include font-heading-bold();
      margin-left: rem(16px);
      font-size: rem(20px);
      text-transform: uppercase;
      letter-spacing: 2px;

      transition: opacity 0.4s $ease-out-expo, transform 0.6s $ease-out-expo;

      @media screen and (max-width: ($breakpoint-phone - 1px)) {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &__actions {
    height: rem(48px);
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  &__actions__group {
    display: flex;
    position: relative;

    & + & {
      margin-left: rem(24px);
      &::before {
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        left: rem(-12px);

        .theme--light & {
          background-color: rgba($dark-base, 0.06);
        }

        .theme--dark & {
          background-color: rgba($light-base, 0.06);
        }
      }
    }
  }

  &__nav {
    position: absolute;
    padding: rem(24px);
    top: rem(64px);
    transform: translate(-50%, 8px);
    opacity: 0;
    user-select: none;
    pointer-events: none;
    transition: transform 0.3s $ease-out-expo, opacity 0.3s $ease-out-expo;
    transform-origin: 50% 0;

    &--show {
      opacity: 1;
      pointer-events: initial;
      transform: translate(-50%, 0px);
      transition: transform 0.6s $ease-out-expo, opacity 0.6s $ease-out-expo;
    }

    .theme--light & {
      background-color: $light-base;
      border-radius: rem(8px);
      box-shadow: 0px 0px 0px 1px rgba($dark-base, 0.04), 0px 12px 36px rgba($dark-base, 0.12);

      &::before {
        content: "";
        width: rem(12px);
        height: rem(12px);
        border-radius: rem(4px) 0 0 0;
        transform: rotate(45deg);
        background-color: $light-base;
        position: absolute;
        left: calc(50% - 6px);
        top: rem(-6px);
        box-shadow: -1px -1px 0px 0px rgba($dark-base, 0.04);
      }
    }

    .theme--dark & {
      background-color: $dark-secondary;
      border-radius: rem(8px);
      box-shadow: 0px 0px 0px 1px rgba($light-base, 0.04) inset, 0px 8px 24px rgba($dark-base, 0.12);
    }
  }

  &__link {
    text-decoration: none;
    transition: color 0.3s $ease-out-expo;

    &--separator-after:after {
      content: "";
      display: block;
      height: 1px;
      margin: rem(16px) 0;

      .theme--light & {
        background-color: $light-secondary;
      }

      .theme--dark & {
        background-color: $dark-tertiary;
      }
    }

    &--top {
      @include font-heading-demi();
      display: block;
      font-weight: 600;
      text-transform: uppercase;
      margin: rem(8px) 0;
      letter-spacing: 1px;
      line-height: rem(20px);
    }

    &--top-action {
      margin: rem(14px) rem(10px);
    }

    &--bottom {
      display: block;
      font-weight: 600;
      font-size: rem(12px);
      line-height: rem(16px);
      margin: rem(8px) 0;
      letter-spacing: 0;
      line-height: rem(20px);
    }

    .theme--light & {
      color: $grey;
    }

    .theme--dark & {
      color: $grey;
    }

    .theme--light &--selected {
      color: $dark-base;
    }

    .theme--dark &--selected {
      color: $light-base;
    }

    .theme--light &:hover {
      color: $dark-base;
    }

    .theme--dark &:hover {
      color: $light-base;
    }
  }

  .theme--light & {
    backdrop-filter: blur(20px);
    background-color: rgba($light-base, 0.9);
  }

  .theme--dark & {
    backdrop-filter: blur(20px);
    background-color: rgba($dark-primary, 0.9);
  }

  .theme--light & #LightThemeSwitcher {
    display: none;
  }

  .theme--dark & #DarkThemeSwitcher {
    display: none;
  }
}
