---
layout: base/base.liquid
---

<section class="map"
     data-controller="map"
>
  {% include mapview/mapview.liquid %}
  {% include carousel/carousel.liquid %}
</section>

{% include thumbnail/thumbnail-template.liquid %}
{% include age-restriction/age-restriction-template.liquid %}
{% include header-nav/header-nav.liquid %}
{% include dialog/lists/lists.liquid %}
{% include dialog/download/download.liquid %}
{% include dialog/share/share.liquid %}
{% include dialog/age-restriction/age-restriction.liquid %}
