<div class="timeline">
    <h3 class="timeline__title">Idővonal</h3>
    <div class="timeline__range caption" id="TimelineRange">1900 - 1990</div>
    <div class="timeline__slider__container" id="TimelineSlider">
        <div class="timeline__slider" id="TimelineSliderLeft">1900</div>
        <div class="timeline__slider-selected-range" id="TimelineSliderSelectedRange">
        </div>
        <div class="timeline__slider" id="TimelineSliderRight">1944</div>
    </div>
</div>