.photos-timeline {
  display: block;
  position: absolute;
  bottom: rem(24px);
  left: 50%;
  width: calc(100% - 48px);
  max-width: rem(480px);
  height: 64px;
  padding: 1rem;
  border-radius: rem(8px);
  box-sizing: border-box;
  overflow: hidden;
  transform: translateX(-50%) scale(0.98);
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: transform 0.8s $ease-out-expo, opacity 0.8s $ease-out-expo, height 0.6s $ease-out-expo 0.4s;

  &.is-visible {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    pointer-events: initial;
    transition: transform 0.3s $ease-out-expo, opacity 0.3s $ease-out-expo, left 0.5s $ease-out-expo,
      height 0.6s $ease-out-expo 0.4s;
  }

  &.is-hovered {
    height: 128px;
    transition: transform 0.3s $ease-out-expo, opacity 0.3s $ease-out-expo, left 0.5s $ease-out-expo,
      height 0.6s $ease-out-expo;
  }

  &::before {
    content: "";
    position: absolute;
    left: rem(56px);
    right: rem(56px);
    bottom: rem(31px);
    height: 2px;
  }

  .theme--light & {
    color: $dark-base;
    background-color: $light-base;
    box-shadow: 0px 0px 0px 1px rgba($dark-base, 0.06), 0px 8px 24px 0px rgba($dark-base, 0.08);

    &::before {
      background-color: rgba($dark-base, 0.08);
    }
  }

  .theme--dark & {
    color: $light-base;
    background-color: $dark-secondary;
    box-shadow: 0px 0px 0px 1px rgba($light-base, 0.06) inset, 0px 8px 24px 0px rgba($dark-base, 0.08);

    &::before {
      background-color: rgba($light-base, 0.08);
    }
  }

  &.photos-timeline--progress {
    padding: 0;
    border: none;
    height: rem(40px);
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
    overflow: visible;
    z-index: 10;

    &:before {
      content: none;
      display: none;
    }
  }
}

.photos-timeline__title {
  line-height: rem(32px);
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s $ease-out-expo 0.4s;

  .photos-timeline.is-hovered & {
    opacity: 1;
    transition-duration: 0.6s;
    transition-delay: 0.2s;
  }
}

.photos-timeline__range {
  opacity: 0;
  transition: opacity 0.15s $ease-out-expo 0.4s;
  line-height: 1rem;

  .photos-timeline.is-hovered & {
    opacity: 0.4;
    transition-duration: 0.6s;
    transition-delay: 0.2s;
  }
}

.photos-timeline__slider__container {
  height: rem(40px);
  position: absolute;
  width: calc(100% - 32px);
  left: rem(16px);
  bottom: rem(12px);

  .photos-timeline--progress & {
    bottom: 0;
    left: rem(44px);
    width: auto;
    right: rem(44px);
    cursor: pointer;
  }
}

.photos-timeline__slider {
  position: absolute;
  width: rem(40px);
  height: rem(40px);
  border-radius: 50%;
  transition: left 0.4s $ease-out-expo, background-color 0.3s $ease-out-expo, border-color 0.3s $ease-out-expo;
  cursor: pointer;
  @include font-heading-bold();
  font-size: rem(11px);
  line-height: 16px;
  text-align: center;
  box-sizing: border-box;
  padding-top: rem(10px);
  user-select: none;

  .is-used & {
    transition: background-color 0.3s $ease-out-expo, border-color 0.3s $ease-out-expo;
  }

  &:hover,
  &.is-active {
    .theme--light & {
      color: $light-base;
      background-color: $red;
    }

    .theme--dark & {
      color: $light-base;
      background-color: $red;
    }

    &.is-empty {
      border-color: $grey;
      color: $grey;
      background-color: transparent;
    }
  }

  .theme--light & {
    color: $red;
    border: 2px solid $red;
    background-color: $light-base;
  }

  .theme--dark & {
    color: $red;
    border: 2px solid $red;
    background-color: $dark-secondary;
  }

  .photos-timeline--progress & {
    background-color: transparent;
  }
}

.button-circular__label {
  .photos-timeline__slider &,
  .photos-timeline__year-indicator & {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: -100%;

    &::before {
      position: absolute;
      bottom: rem(-4px);
      margin: auto;
      left: calc(50% - 8px);
      border-bottom: 0;
      border-top: rem(6px) solid transparent;
    }

    .theme--light &::before {
      border-top-color: $dark-base;
    }

    .theme--dark &::before {
      border-top-color: $light-base;
    }
  }

  .photos-timeline__year-indicator & {
    top: auto;
    bottom: rem(24px);
  }

  .photos-timeline__slider:hover &,
  .photos-timeline__slider.is-active &,
  .photos-timeline__year-indicator.is-hover & {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0px);
    transition: transform 0.4s $ease-out-expo, opacity 0.4s $ease-out-expo, visibility 0s linear 0s,
      background-color 0.4s $ease-out-expo;

    &::before {
      transition: opacity 0.4s $ease-out-expo, border-color 0.4s $ease-out-expo;
      opacity: 1;
    }
  }

  .photos-timeline__slider.is-empty &,
  .photos-timeline__year-indicator.is-empty & {
    background-color: $grey;

    &::before {
      border-top-color: $grey;
    }
  }

  & .count {
    @include font-heading-demi();
    opacity: 0.5;
  }
}

.photos-timeline__slider-selected-range {
  position: absolute;
  bottom: rem(19px);
  height: 2px;
  width: 0;
  transition: left 0.4s $ease-out-expo, width 0.4s $ease-out-expo;

  .photos-timeline.is-used & {
    transition: none;
  }

  .theme--light & {
    background-color: $red;
  }

  .theme--dark & {
    background-color: $red;
  }
}

.photos-timeline__range-background {
  display: block;
  position: absolute;
  left: rem(40px);
  right: 0;
  bottom: rem(19px);
  height: 2px;
  transition: left 0.4s $ease-out-expo, width 0.4s $ease-out-expo;

  .photos-timeline.is-used & {
    transition: none;
  }

  .theme--light & {
    background-color: rgba($dark-base, 0.08);
  }

  .theme--dark & {
    background-color: rgba($light-base, 0.08);
  }
}

.photos-timeline__year-label {
  position: absolute;
  width: rem(44px);
  height: rem(44px);
  top: 0;
  left: 0;
  cursor: pointer;
  @include font-heading-bold();
  font-size: rem(11px);
  line-height: 16px;
  text-align: center;
  box-sizing: border-box;
  padding-top: rem(12px);
  user-select: none;
  transition: color 0.3s $ease-out-expo;

  .theme--light & {
    color: rgba($dark-base, 0.12);
  }

  .theme--dark & {
    color: rgba($light-base, 0.12);
  }

  .theme--light &:hover,
  .theme--dark &:hover {
    color: $red;
  }

  &.photos-timeline__year-label--yearEnd {
    left: auto;
    right: 0;
  }
}

.photos-timeline__year-indicator {
  position: absolute;
  top: rem(20px);

  cursor: pointer;
  @include font-heading-bold();
  font-size: rem(11px);

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: rem(-5px);
    left: rem(-1px);
    width: rem(2px);
    height: rem(10px);
    background-color: $red;
    border-radius: rem(1px);

    opacity: 0;
    transform: scale(0);

    transition: opacity 0.3s $ease-out-expo, transform 0.3s $ease-out-expo;
  }

  .theme--light &.is-grey:before {
    background-color: $light-secondary;
  }

  .theme--dark &.is-grey:before {
    background-color: $dark-secondary;
  }

  &.is-hover:before {
    opacity: 1;
    transform: none;
  }
}
