<div class="mapview" data-controller="mapview"
  data-action="mapview:show@document->mapview#show
               mapview:hide@document->mapview#hide
               mapview:setbounds@document->mapview#setBounds
               theme:toggleTheme@document->mapview#toggleMapStyles"
>
  <div class="map" id="MainMap" data-mapview-target="map"></div>
</div>

{% include mapmarker/mapmarker.liquid %}