.mapview {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;

  &.is-visible {
    display: block;
  }

  .theme--dark & {
    background-color: $dark-base;
  }

  .theme--light & {
    background-color: $light-base;
  }

  .map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.mapmarker {
  padding-bottom: 10px;

  &__thumbnail-wrapper {
    padding: 0.25rem;
    border-radius: rem(8px);
    position: relative;

    .theme--light & {
      background-color: $light-base;
      box-shadow: 0px 0px 0px 1px rgba($dark-base, 0.04), 0px 12px 36px rgba($dark-base, 0.12);
    }

    .theme--dark & {
      background-color: $dark-secondary;
      box-shadow: 0px 0px 0px 1px rgba($light-base, 0.04) inset, 0px 8px 24px rgba($dark-base, 0.12);
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: rem(-8px);
      width: 0;
      height: 0;

      border: 8px solid transparent;
      border-bottom: none;
    }

    &:before {
      .theme--light & {
        border-top-color: rgba($dark-base, 0.04);
      }

      .theme--dark & {
        border-top-color: rgba($light-base, 0.04);
      }
    }

    &:after {
      bottom: rem(-6px);

      .theme--light & {
        border-top-color: $light-base;
      }

      .theme--dark & {
        border-top-color: $dark-secondary;
      }
    }

    .photos-thumbnail {
      min-width: rem(calc(192px * 0.25));
      margin: 0;
    }

    .photos-thumbnail__image {
      height: rem(calc(160px * 0.25));
      margin: 0;
    }

    .photos-thumbnail__meta {
      display: none;
    }
  }
}

.map-cluster-marker {
  padding: 12px 24px;
  border-radius: 50%;

  .theme--light & {
    background-color: $light-base;
    box-shadow: 0px 0px 0px 1px rgba($dark-base, 0.04), 0px 12px 36px rgba($dark-base, 0.12);
  }

  .theme--dark & {
    background-color: $dark-secondary;
    box-shadow: 0px 0px 0px 1px rgba($light-base, 0.04) inset, 0px 8px 24px rgba($dark-base, 0.12);
  }
}
