<dialog-signup class="dialog dialog-signup">
  {% include button-circular/button-circular.liquid icon:"close" id:"DialogSignupClose" trigger:"dialogSignup:hide" label:lang[locale].close class:"dialog__close" %}

  <div class="dialog__wrapper">
      <h3 class="dialog__title">{{ lang[locale].signup }}</h3>
      <div class="dialog__form">
        {% include dialog-input/dialog-input.liquid type:"text" name:"name" label:lang[locale].username %}
        {% include dialog-input/dialog-input.liquid type:"email" name:"email" label:lang[locale].email %}
        {% include dialog-input/dialog-input.liquid type:"password" name:"password" label:lang[locale].password %}
        <button class="button dialog__button">{{ lang[locale].signup }}</button>
      </div>
  </div>
</dialog-signup>
