.home {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  box-sizing: border-box;
}

.home__hero {
  position: relative;
  background-color: $dark-base;
  padding: 2rem;
  color: $light-base;
  overflow: hidden;

  @media screen and (max-width: ($breakpoint-desktop - 1px)) {
    padding: rem(20px);
  }
}

.home__announcement {
  position: relative;
  z-index: 1;
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 6rem 0;
}

.home__announcement__caption {
  display: inline-block;
  border: 2px solid $light-base;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
}

.home__announcement__title {
  margin: 1.5rem 0;
  text-transform: uppercase;
  @include font-heading-demi;
  font-weight: 500;

  b,
  strong {
    @include font-heading-bold;
  }
}

.home__announcement__blurb {
  max-width: rem(570px);
  font-size: rem(14px);
  font-weight: 500;
  line-height: rem(24px);
}

.home__announcement__actions {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;

  a {
    margin-top: 1rem;

    @media screen and (max-width: ($breakpoint-phone - 1px)) {
      width: 100%;
      text-align: center;
    }
  }

  a:not(:last-child) {
    margin-right: 0.5rem;
    color: $light-base;

    @media screen and (max-width: ($breakpoint-phone - 1px)) {
      margin-right: 0rem;
    }
  }
}

.home__hero__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(1.2);
  transition: all 1.5s $ease-out-expo;

  &.is-visible {
    opacity: 0.5;
    transform: scale(1.05);
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.home__content {
  padding: 0 2rem;
  max-width: rem(1140px);
  margin: 0 auto;

  @media screen and (max-width: ($breakpoint-desktop - 1px)) {
    padding: 0 rem(20px);
  }
}

.home__search-wrapper {
  padding: 4.5rem 0;
  text-align: center;

  @media screen and (max-width: ($breakpoint-phone - 1px)) {
    padding: 3rem 0;
  }

  .home__search__input {
    display: block;
    max-width: 50rem;
    margin: 0 auto 1.5rem;

    & .selectize-input {
      box-shadow: 0px 8px 24px rgba($dark-base, 0.12);
    }
  }

  .home__search__total {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s $ease-out-expo;
    font-size: rem(24px);

    a {
      text-decoration: none;
      color: inherit;
      transition: color 0.2s $ease-out-expo, border-color 0.2s $ease-out-expo;
      border-bottom: 2px solid;

      .theme--light & {
        border-color: rgba($dark-base, 0);
      }

      .theme--dark & {
        border-color: rgba($light-base, 0);
      }
    }

    a:hover {
      .theme--light & {
        border-color: rgba($dark-base, 1);
      }

      .theme--dark & {
        border-color: rgba($light-base, 1);
      }
    }

    a:hover::after {
      opacity: 0.8;
    }

    &.is-visible {
      opacity: 1;
      pointer-events: all;
    }
  }

  @media screen and (min-width: ($breakpoint-desktop)) {
    display: flex;
    align-items: center;
    gap: 3rem;

    .home__search__input {
      width: 90%;
      margin: 0;
    }

    .home__search__total {
      white-space: nowrap;
    }
  }
}

.home__intro {
  position: relative;
  display: flex;
  gap: rem(40px);

  padding: 3rem 0;
  border-top: rem(6px) solid $red;

  @media screen and (max-width: ($breakpoint-tablet - 1px)) {
    flex-direction: column;
    gap: 0;
  }

  @media screen and (max-width: ($breakpoint-phone - 1px)) {
    padding: 1.5rem 0;
  }

  &__headline {
    font-size: rem(24px);
    flex: 0 0 50%;
  }

  &__text {
    padding: rem(12px) 0;

    p {
      font-size: rem(14px);
      line-height: rem(24px);
    }
  }
}

.home__photos {
  .photos-timeline {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
}

.home__thumbnails-wrapper {
  width: 100%;
  overflow: hidden;
}

.home__thumbnails {
  display: flex;

  @media screen and (min-width: $breakpoint-phone) {
    padding-top: 0.5rem;
  }

  .photos-thumbnail {
    min-width: rem(192px * 2 / 3);
  }

  .photos-thumbnail__image {
    height: rem(160px * 2 / 3);
  }
}

.home__usp {
  position: relative;
  padding: 4.5rem 0;

  @media screen and (max-width: ($breakpoint-phone - 1px)) {
    padding: 3rem 0;
  }

  border-top: 1px solid;

  .theme--light & {
    border-top-color: rgba($dark-base, 0.12);
  }

  .theme--dark & {
    border-top-color: rgba($light-base, 0.12);
  }
}

.home__usp__header {
  margin-bottom: rem(48px);

  @media screen and (min-width: $breakpoint-tablet) {
    margin-right: 33%;
  }

  h2,
  p {
    margin: 0;
  }

  p {
    opacity: 0.64;
    max-width: 50rem;
  }

  h2 + p {
    margin-top: rem(4px);
  }
}

.home__usp__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 3rem 1rem;

  @media screen and (max-width: ($breakpoint-desktop - 1px)) {
    flex-wrap: wrap;
  }

  @media screen and (max-width: ($breakpoint-phone - 1px)) {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .list-item {
    flex-basis: calc((100% - 3 * 1rem) / 4);

    @media screen and (max-width: ($breakpoint-desktop - 1px)) {
      flex-basis: calc((100% - 2 * 1rem) / 3);
    }

    @media screen and (max-width: ($breakpoint-tablet - 1px)) {
      flex-basis: calc((100% - 1rem) / 2);
    }

    @media screen and (max-width: ($breakpoint-phone - 1px)) {
      flex-basis: auto;
    }

    &__cover {
      cursor: pointer;
      position: relative;
      width: 100%;
      border-radius: rem(4px);
      overflow: hidden;

      &:hover {
        & + .list-item__meta h5 a {
          color: $red;
          border-color: $red;
        }
      }
    }

    &__cover-overlay {
      position: absolute;
      background: rgba($dark-base, 0.5);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      opacity: 0;
      transition: opacity 0.8s $ease-out-expo;

      span {
        display: flex;
        color: $light-base;
        border-bottom: rem(6px) solid $red;

        transition: all 0.2s ease-out;
      }

      &:hover span {
        transform: translateY(-0.5rem);
      }
    }

    &__photo.is-loaded + .list-item__cover-overlay {
      opacity: 1;
    }

    &__meta {
      margin-top: rem(12px);

      p {
        margin: 0;

        &:first-of-type {
          color: $grey;
          opacity: 1;
        }
      }

      h5 {
        margin: 0;

        a {
          color: inherit;
          text-decoration: none;
          border-bottom: 1px solid transparent;
          transition: color 0.2s $ease-out-expo, border-color 0.2s $ease-out-expo;
        }

        &:hover a {
          color: $red;
          border-color: $red;
        }
      }

      h5 + p {
        margin-top: rem(8px);
      }
    }

    &:hover {
      .list-item__photo {
        filter: brightness(0.7);
      }
    }

    &__actions {
      margin-top: 1rem;

      .button {
        margin: 0.5rem 0.25rem 0 0;
      }
    }
  }

  .home__usp--collections & .list-item {
    @media screen and (min-width: $breakpoint-tablet) {
      flex-basis: calc((100% - 2 * 1rem) / 3);
    }

    @media screen and (max-width: ($breakpoint-tablet - 1px)) {
      flex-basis: calc((100% - 1rem) / 2);
    }

    @media screen and (max-width: ($breakpoint-phone - 1px)) {
      flex-basis: auto;
    }
  }
}

.home__usp__action {
  margin-top: 4.5rem;
  text-align: center;

  @media screen and (max-width: ($breakpoint-phone - 1px)) {
    margin-top: 3rem;
  }

  .button {
    display: inline-block;

    @media screen and (max-width: ($breakpoint-phone - 1px)) {
      display: block;
      text-align: center;
    }
  }

  @media screen and (min-width: $breakpoint-tablet) {
    position: absolute;
    top: 4.5rem;
    right: 0;
    margin-top: 0;
  }
}
