---
layout: base/base.liquid
---

{% include header/header.liquid hide_search:true header_class:"header--transparent-dark" %}

<div class="home scrollview">
  <section class="home__hero">
    <div class="home__hero__background"></div>
    <div class="home__hero__search-wrapper">
      {% include search/search.liquid class:"home__hero__search search--large" %}
      <div class="home__hero__total h3">Összesen <a href="/{{ locale }}/photos/" class="home__hero__link"><span></span> fénykép</a></div>
    </div>
    <div class="home__hero__content">
      <h3 class="home__hero__headline">{{ headline}}</h3>
      <div class="home__hero__text">{{ content }}</div>
    </div>
  </section>
  <section class="home__new">
    <div class="photos__wrapper">
    </div>
  </section>
  {% include footer/footer.liquid %}
</div>

<template id="Thumbnail">
  <div class="photos__thumbnail">
      <div class="photos__thumbnail__image"></div>
      <div class="photos__thumbnail__meta photos__thumbnail__meta--location"></div>
      <div class="photos__thumbnail__meta photos__thumbnail__meta--description"></div>
    </div>
  </div>
</template>
