
<div class="carousel">
    <div class="carousel__photo"></div>
    <div class="carousel__pager">
        {% include buttons/circular.liquid icon:"back" id:"PhotoPrev" href:"#" label:lang[locale].prev class:"carousel__pager__button" %}
        {% include buttons/circular.liquid icon:"forward" id:"PhotoNext" href:"#" label:lang[locale].next class:"carousel__pager__button" %}
    </div>
</div>