.dialog {
  position: absolute;
  z-index: 1000;
  max-width: rem(480px);
  width: calc(100% - 40px);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1.04);
  opacity: 0;
  box-sizing: border-box;
  pointer-events: none;
  transition: transform 0.6s $ease-out-expo, opacity 0.6s $ease-out-expo;

  &.is-visible {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
    pointer-events: initial;
  }
}

.dialog::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba($dark-base, 0.6);
  z-index: -10;
}

.dialog__close {
  position: absolute;
  right: rem(8px);
  top: rem(8px);
}

.dialog__wrapper {
  padding: rem(24px);
  box-shadow: 0 rem(12px) rem(24px) 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: rem(8px);

  .theme--light & {
    background-color: $light-base;
  }

  .theme--dark & {
    background-color: $dark-primary;
  }
}

.dialog__title {
  margin: 0;
}

.dialog__content {
  margin: rem(4px) 0 0 0;
  font-size: rem(14px);
  line-height: rem(24px);
}

.dialog__content__action {
  @include font-heading-demi();
  display: block;
  margin: 0;
  padding: rem(8px) 0 rem(8px) rem(28px);
  position: relative;

  svg {
    position: absolute;
    left: 0;
  }

  a {
    text-decoration: none;
    color: $grey;
    font-weight: 500;
  }

  a:hover {
    color: inherit;
  }
}

.dialog__button {
  margin-top: 2.5rem;
  width: 100%;
  cursor: pointer;
}

.dialog__link {
  display: inline-block;
  margin-top: 0.5rem;
  color: $red;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.6s $ease-out-expo;

  &:hover {
    color: darken($red, 10);
  }
}

.dialog__link--small {
  font-size: rem(13px);
}
