.dialog {
  position: absolute;
  z-index: 1000;
  box-shadow: 0 rem(12px) rem(24px) 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: rem(8px);
  max-width: rem(480px);
  width: calc(100% - 40px);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1.04);
  opacity: 0;
  box-sizing: border-box;
  pointer-events: none;
  transition: transform 0.6s $ease-out-expo, opacity 0.6s $ease-out-expo;

  .theme--light & {
    background-color: $light-base;
  }

  .theme--dark & {
    background-color: $dark-base;
  }

  &.is-visible {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
    pointer-events: initial;
  }
}

.dialog__close {
  position: absolute;
  right: rem(8px);
  top: rem(8px);
}

.dialog__wrapper {
  padding: rem(24px);
}

.dialog__title {
  margin: 0;
}

.dialog__content {
  margin: rem(4px) 0 0 0;
  font-size: rem(14px);
  line-height: rem(24px);
}

.dialog__content__action {
  @include font-heading-demi();
  display: block;
  margin: 0;
  padding: rem(8px) 0 rem(8px) rem(28px);
  position: relative;

  svg {
    position: absolute;
    left: 0;
  }

  a {
    text-decoration: none;
    color: $grey;
    font-weight: 500;
  }

  a:hover {
    color: inherit;
  }
}
