<footer class="footer">
    <a class="footer__link" href="/{{ locale }}/photos/">Fotók</a>
    <a class="footer__link" href="/{{ locale }}/about-us/">Rólunk</a>
    {% comment %}
    <a class="footer__link" href="/{{ locale }}/donors/">Adományozók</a>
    {% endcomment %}
    <a class="footer__link" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=fortepan%40fortepan.hu&currency_code=HUF&source=url" target="_blank">Támogatás</a>
    <a class="footer__link" href="https://index.hu/nagykep/" target="_blank">Index Nagykép</a>
    <a class="footer__link" href="https://forum.index.hu/Article/showArticle?t=9204653" target="_blank">Fórum</a>
    <small class="footer__small">
    FORTEPAN ©2010-2020 · <a href="mailto:fortepan@gmail.com">KAPCSOLAT</a> · <a href="/{{ locale }}/privacy/">ADATVÉDELEM</a><br/>
under Creative Commons CC-BY-SA-3.0 licence
    </small>
</footer>