<div class="search {{ class }}" data-lang="{{ locale }}">
    {% inlineSVG src:"src/static/images/icons/24/icon-search.svg" class:"search__icon" %}
    <input type="search" name="search" class="search__input" placeholder="{{ lang[locale].search }}" autocomplete="off">
    <div class="search__autosuggest">
    </div>

    {% comment %}
    {% inlineSVG src:"src/static/images/icons/24/icon-settings.svg" class:"search__settings" %}
    {% endcomment %}
</div>
