.search {
  display: block;
  position: relative;
}

.search__form {
  position: relative;
}

.search__form__actions {
  position: absolute;
  right: rem(6px);
  top: 50%;
  transform: translateY(-50%);

  display: flex;

  .button-circular {
    width: rem(36px);
    margin: 0;
  }
}
