<dialog-download class="dialog dialog-download">
  <div class="dialog__wrapper">
      {% include button-circular/button-circular.liquid icon:"close" id:"DialogDownloadClose" trigger:"dialogDownload:hide" label:lang[locale].close class:"dialog__close" %}
      <h3 class="dialog__title">{{ lang[locale].download }}</h3>
      <p class="dialog__content"></p>
  </div>
</dialog-download>