.snackbar {
  position: absolute;
  border-radius: 16px;
  line-height: 1rem;
  font-size: rem(13px);
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  box-shadow: 0 8px 24px 0 rgba($dark-base, 0.08), 0 0 0 1px rgba($dark-base, 0.07);
  max-width: rem(440px);
  z-index: 1000;
  left: 50%;
  top: rem(96px);
  transition: opacity 0.5s $ease-out-expo, transform 0.5s $ease-out-expo;
  transform: translateX(-50%) scale(0.98);
  opacity: 0;
  pointer-events: none;
  color: #fff;
  font-weight: 600;
}

.snackbar--success {
  background: $green;
}

.snackbar--error {
  background: $red;
}

.snackbar--show {
  opacity: 1;
  pointer-events: all;
  transform: translateX(-50%) scale(1);
  transition: opacity 0.5s $ease-out-expo, transform 0.5s $ease-out-expo;
}

.snackbar__close {
  position: absolute;
  right: rem(12px);
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  opacity: 0.24;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}

.snackbar__close:hover {
  opacity: 1;
}
