<selectize-control class="selectize-control is-empty {{ class }}" data-autosuggest-filter="{{ filter }}">
    <div class="selectize-input">
        <input class="selectize-control__input" type="text" />
        <span class="selectize-control__placeholder">{{ placeholder }}</span>
    </div>
    <div class="selectize-input__autosuggest"></div>
</selectize-control>