<selectize-control class="selectize-control">
    <div class="selectize-input">
        <div class="selectize-control__tag">Budapest<a href="#" class="selectize-control__tag__close" tabindex="-1"></a></div>
        <div class="selectize-control__tag">Buda<a href="#" class="selectize-control__tag__close" tabindex="-1"></a></div>
        <input class="selectize-control__input" type="text" />
    </div>
    <button class="button button--medium button--wide">Mentés</button>
</selectize-control>