<selectize-control class="selectize-control {{ class }}" data-autosuggest-filter="{{ filter }}">
    <div class="selectize-input">
        <input class="selectize-control__input" type="text" />
    </div>
    <div class="selectize-input__autosuggest"></div>
</selectize-control>