<selectize-control class="selectize-control {{ class }}">
    <div class="selectize-input">
        <input class="selectize-control__input" type="text" />
    </div>
    <div class="selectize-input__autosuggest"></div>
    <button class="button button--medium button--wide selectize-control__save">Mentés</button>
</selectize-control>