---
layout: base/base.liquid
---

<div class="lists scrollview" data-controller="lists"
  data-action="auth:loginStatus@document->lists#show">
  <div class="layout-heading lists__heading">
    <h1 class="lists__title">{{ lang[locale].lists }}</h1>
    <h5 class="lists__subtitle">
      <span data-lists-target="total">0</span>
      <span>{{ lang[locale].list }}</span>
    </h5>
  </div>
  <div class="lists__grid" data-lists-target="grid"></div>
</div>

<template id="lists-item">
  <div class="lists__item" data-lists-target="item">
    <div class="lists__item__cover" data-action="click->lists#onListCoverClick">
      <div class="lists__item__cover-inner">
        <div class="lists__item__photo"><span class="lists__item__photo__img"></span></div>
        <div class="lists__item__photo"><span class="lists__item__photo__img"></span></div>
        <div class="lists__item__photo"><span class="lists__item__photo__img"></span></div>
        <div class="lists__item__photo"><span class="lists__item__photo__img"></span></div>
        <span class="lists__item__photo-count"><span class="lists__item__counter"></span></span>
      </div>
    </div>
    <h5><a href="#" class="lists__item__title"></a></h5>
    <div class="lists__item__description"></div>
  </div>
</template>

{% include header-nav/header-nav %}
{% include dialog/lists/lists %}