.layout-lists {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  padding: rem(104px) rem(24px) rem(96px);
  box-sizing: border-box;

  @media screen and (max-width: ($breakpoint-desktop - 1px)) {
    padding: rem(88px) rem(8px) rem(96px);
  }
}
