---
layout: base/base.liquid
---

<div class="lists scrollview" data-controller="lists">
  <div class="layout-heading lists__heading">
    <h1 class="lists__title">{{ lang[locale].lists }}</h1>
    <h5 class="lists__subtitle">
      <span>0</span>
      <span>{{ lang[locale].list }}</span>
    </h5> 
  </div>
  <div class="lists__grid" data-lists-target="grid"></div>
</div>

<template id="listsItem">
<div class="lists__item" data-lists-target="item" data-action="click->lists#">
  <div class="lists__item__photo"></div>
  <h3 class="lists__item__title"></h3>
  <div class="lists__item__date-added"></div> 
</div>
</template>

{% include carousel/carousel %}
{% include header-nav/header-nav %}