<dialog-reset-password-request class="dialog dialog-reset-password-request">
  <div class="dialog__wrapper">
      {% include button-circular/button-circular.liquid icon:"close" trigger:"dialogResetPasswordRequest:hide" label:lang[locale].close class:"dialog__close" %}
      <h3 class="dialog__title">{{ lang[locale].password_forgot }}</h3>
      <p class="dialog__content">{{ lang[locale].password_forgot_details }}</p>
      <div class="dialog__form">
        {% include input/input.liquid type:"email" name:"email" label:lang[locale].username_or_email %}
        <button class="button button--primary dialog__button">{{ lang[locale].reset_password }}</button>
      </div>
  </div>
</dialog-reset-password-request>
