.border-grief {
  display: inline-block;
  border: 2px solid;
  line-height: rem(24px);
  padding: 0 rem(4px);

  .theme--light & {
    border-color: $dark-base;
  }

  .theme--dark & {
    border-color: $light-base;
  }
}

.scrollview {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
