blockquote {
  margin: 0 0 2rem;
  padding: 0 1.5rem;
  border-left: rem(8px) solid $red;

  .theme--dark & {
    color: rgba($light-base, 0.7);
  }

  .theme--light & {
    color: rgba($dark-base, 0.7);
  }
}
