.carousel-add-tags {
  width: 100%;
}

.carousel-add-tags__add {
  display: inline-block;
  font-weight: bold;
  font-size: rem(12px);
  text-decoration: none;
  color: $red;
  cursor: pointer;
  line-height: 1rem;
  border-bottom: none;
  margin-top: 0.5rem;

  &::before {
    content: "";
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: 0.25rem;
    background: svg-load("src/static/images/icons/16/icon-add.svg");
    vertical-align: text-bottom;
  }

  &.is-hidden {
    display: none;
  }
}

.carousel-add-tags__form {
  display: block;
  margin-top: 1.5rem;

  &.is-hidden {
    display: none;
  }

  &__helper {
    color: rgba($dark-base, 0.64);
    margin: 0;

    a {
      color: $red !important;
      font-weight: inherit;
    }
  }

  .theme--dark &__helper {
    color: rgba($light-base, 0.64);
  }

  .carousel-sidebar__tags__form__selectize {
    margin-top: 0.5rem;
  }
}

body:not(.auth-signed-in) .add-tags__form {
  display: none;
}

.carousel-add-tags__save {
  margin-top: 0.5rem;
  cursor: pointer;
}
