<photos-carousel class="photos-carousel">
    <div class="photos-carousel__photos hide-controls theme--dark">
        <div class="photos-carousel__photos__background"></div>

        {% include loading-indicator/loading-indicator.liquid class:"photos-carousel__photos__loader" %}

        {% include button-circular/button-circular.liquid icon:"previous" id:"PhotoPrev" trigger:"layoutPhotos:showPrevPhoto" label:lang[locale].prev class:"button-circular--has-background photos-carousel__photos__pager photos-carousel__photos__pager--left disable" %}
        {% include button-circular/button-circular.liquid icon:"next" id:"PhotoNext" trigger:"layoutPhotos:showNextPhoto" label:lang[locale].next class:"button-circular--has-background photos-carousel__photos__pager photos-carousel__photos__pager--right disable" %}

        <div class="photos-carousel__photos__all"></div>

        <div class="photos-carousel__photos__actions">
            {% include button-circular/button-circular.liquid icon:"close" id:"CarouselClose" trigger:"photosCarousel:hide" label:lang[locale].close %}
            <div class="photos-carousel__photos__actions__group">
                {% include button-circular/button-circular.liquid icon:"play" id:"SlideshowPlay" trigger:"photosCarousel:playSlideshow" label:lang[locale].slideshow %}
                {% include button-circular/button-circular.liquid icon:"pause" id:"SlideshowPause" trigger:"photosCarousel:pauseSlideshow" label:lang[locale].slideshow %}
                {% include button-circular/button-circular.liquid icon:"download" id:"PhotoDownload" trigger:"dialogDownload:downloadImage" label: lang[locale].download class:"button-circular--separator-before" %}
                {% include button-circular/button-circular.liquid icon:"share" id:"PhotoShare" trigger:"dialogShare:show" label: lang[locale].share %}
                {% include button-circular/button-circular.liquid icon:"sidebar" id:"CarouselSidebar" trigger:"carouselSidebar:toggle" label: lang[locale].details %}
            </div>
        </div>
    </div>
    {% include carousel-sidebar/carousel-sidebar.liquid %}
</photos-carousel>