.dialog-advanced-search {
  & .dialog__wrapper {
    max-width: rem(640px);
  }

  .dialog-advanced-search__form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1rem;

    .dialog__form-row {
      width: 100%;
      display: flex;
      gap: 1.5rem;

      @media screen and (max-width: ($breakpoint-tablet - 1px)) {
        flex-wrap: wrap;
      }
    }

    .form-row-group {
      flex-basis: calc(50% - 0.75rem);
      display: flex;
      gap: 0.5rem 1rem;
      align-items: center;
      flex-wrap: wrap;

      @media screen and (max-width: ($breakpoint-tablet - 1px)) {
        flex-basis: 100%;
      }

      label {
        margin-top: 0;
      }
    }

    .form-row-group--year {
      gap: 1.5rem;
      align-items: center;
      flex-wrap: nowrap;

      & > * {
        flex-basis: 50%;
      }
    }

    .dialog-advanced-search__label {
      flex-grow: 1;
      margin: 0;
      font-weight: 500;
      color: $grey;
    }

    .dialog-advanced-search__input {
      width: 100%;
    }

    .dialog-advanced-search__checkbox {
      color: $grey;

      .theme--light &.is-checked {
        color: $dark-primary;
      }

      .theme--dark &.is-checked {
        color: $light-primary;
      }
    }
  }

  .dialog-advanced-search__button {
    width: auto;
    cursor: pointer;
    min-width: 50%;
    margin-top: 1rem;
  }
}
